$tron-orange: #df740c;
$tron-yellow: #ffe64d;
$tron-cyan: #6fc3df;
$tron-blue: #00a8ff;
$tron-blue-two: #00eaff;
$tron-blue-three: #26b4ca;
$tron-blue-four: #59b4c7;
$tron-green: #0edf0c;
$tron-blue-green: #0cdf74;
$tron-yellow-two: #dfde0c;
$tron-purple: #740cdf;
